.container-fluid{

background-image: url('../public/images/weather.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

.form-control{

  
}

.btn{
position:absolute;
    left: 498px;
    top: -54px;
}

















@media (max-width:1199px) {
    .btn{
      
            left: 440px;
           
        } 
}


@media (max-width:991px) {
    .btn{
      
            left: 300px;
           
        } 
}

@media (max-width:767px) {
    .btn{
      
            left: 450px;
           
        } 
        .col-md-6{

            margin-left: 20px;
        }
}

@media (max-width:640px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:350px;
       
    } 
    
}

@media (max-width:520px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:320px;
       
    } 
    
}

@media (max-width:482px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:290px;
       
    } 
    
}
@media (max-width:441px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:250px;
       
    } 
    
}



@media (max-width:400px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:230px;
       
    } 
    .col-md-6{

        margin-left: 20px;
    }
    .container-fluid{

        height: 100%;
    }
       
}
@media (max-width:372px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:200px;
       
    } 
    
}

@media (max-width:332px) {
    .form-control{

        width: 80%;
    }   .btn{
      
        left:170px;
       
    } 
    
}

@media (max-width:298px) {
    .form-control{

        width: 100%;
    }   .btn{
      
        left:200px;
       
    } 
    
}